.projects-container {
    width: 95vw;
    margin-left: 2.5vw;
}

.project {
    width: 360px;
    height: 240px;
}

.project img {
    position: absolute;
    width: 360px;
    height: 240px;
}

.project:hover img {
    filter: brightness(40%);
}

.project .project-text-container{
    visibility: hidden;
    position: absolute;
    width: 360px;
    height: 240px;
}

.project:hover .project-text-container {
    visibility: visible;
}
