.title-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    width: max-content;
    border-radius: 0 !important;
}

h1 {
    width: max-content !important;
}
