.page-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.btn {
    width: max-content;
    border-radius: 0 !important;
}

h1 {
    width: max-content !important;
}
